* {
  background-color: rgb(253, 251, 251);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #014A7F;
  line-height: normal;
}

table, tr, td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

table {
  padding: auto;
  width: 100%;
}

ul, ol {
  display: inline-block;
}

#cabecalho {
  margin: 5px;
  position:fixed;
  top: 0;
  width: 100%;
}

#minha_foto {
  padding: 80px 0px 0px 5px;
}

