* {
  background-color: rgb(253, 251, 251);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #014A7F;
  line-height: normal;
}

table, tr, td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

table{
  width: 100%;
  margin-bottom: 50px;
}

ul, ol {
  display: inline-block;
  margin-right: 80px;
}

.tabela {
  margin-top: 150px;
}

.lado-esquerdo {
  float: left;
}

#cabecalho {
  margin: 5px;
  position:fixed;
  top: 0;
  width: 100%;
}

#minha_foto {
  padding: 80px 0px 0px 5px;
}

